@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	z-index: 1000;
}

.navbar a {
	color: white;
	text-decoration: none;
}

.navbar a:hover {
	color: #20C20E;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    padding: 8px 8px 8px 32px;
    font-size: 16px;
}

.toggle-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    background: transparent;
    border: none;
    font-size: 22px;
    color: white;
    cursor: pointer;
	z-index: 1001;
	width: 50px;
	height: 50px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
	position: relative;
}

.content::before {
	content: "";
    background: url('/home/pix/Documents/github.io/img/background2.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: brightness(30%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* para que quede detrás del contenido */
}

.intro-box {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
	width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 40%;
}

.name {
    font-size: 24px; /* Tamaño del nombre, puedes ajustarlo */
    margin: 0; /* Elimina el margen predeterminado */
    color: white;
}

.profession-title {
    font-size: 18px; /* Tamaño del título, puedes ajustarlo */
    margin: 0; /* Elimina el margen predeterminado */
    color: white;
}

.cv-button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50; /* Color del botón, puedes ajustarlo */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.cv-button:hover {
    background-color: #45a049; /* Oscurece un poco el color al pasar el cursor */
}

