@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body, html {
	height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: white;
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/background2.jpg') no-repeat center center fixed;     
	display: flex;
	flex-direction: column;
    background-size: cover;
}

/* HOME PAGE */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	z-index: 1000;
}

.navbar a {
	color: white;
	text-decoration: none;
}

.navbar a:hover {
	color: #20C20E;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    padding: 8px 8px 8px 32px;
    font-size: 16px;
}

.toggle-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    background: transparent;
    border: none;
    font-size: 22px;
    color: white;
    cursor: pointer;
	z-index: 1001;
	width: 50px;
	height: 50px;
}

.content {
	display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

.intro-box {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
	width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.profile-pic {
    width: 200px;
    height: 200px; 
    border-radius: 50%;
    background-image: url('../img/me.jpg');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
}

.name {
    font-size: 24px;
	margin: 0;
	color: white;
}

.profession-title {
    font-size: 18px;
    margin: 0;
    color: white;
}

.cv-button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.cv-button:hover {
    background-color: #45a049;
}


/* FOOTER */

.footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    background: transparent;
}

.footer-text {
    color: white;
    font-size: 14px;
}

.social-icons a {
    margin-left: 10px;
}

.social-icons img {
    width: 24px;
	height: 24px;
}

/* ABOUT ME */

.about-me {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: justify;
    border-radius: 50px;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 80%;
}

.about-me h1 {
    align-items: center;
}

.hobbies-list {
	list-style-type: disc;
	padding-left: 20px;
	margin-left: 20px;
}


.hobbies-list li {
	text-align: left;
	padding-left: 0px;
	margin-left: 0px;
	margin-bottom: 5px;
}
